<div class="page-title">Create Name</div>
<form action="/names/create" method="POST">
  <div class="form-row">
    <div class="form-field">
      <label class="text">Name</label>
      <input type="text" name="name" autocomplete="off" autofocus />
    </div>
  </div>
  <div class="btn-container">
    <a class="btn btn-red" href="/names">Cancel</a>
    <button class="btn btn-general" type="submit">Create</button>
  </div>
</form>