<header>
  <nav class="nav-container">
    <a href="/" class="nav-title">Workout Tracker</a>
    <ul>
      <li><a href="/names">Names</a></li>
      <li><a href="/names/create">Create Name</a></li>
      <li><a href="/exercises">Exercises</a></li>
      <li><a href="/exercises/create">Add Exercise</a></li>
      <li><a href="/workouts/create">Post Workout</a></li>
    </ul>
  </nav>
</header>