<div class="page-title">Edit Exercise</div>
<form action="/exercises/<%=exercise.id%>/edit" method="POST">
  <div class="form-row">
    <div class="form-field">
      <label class="text">Exercise</label>
      <input
        type="text"
        name="exercise"
        value="<%=exercise.name%>"
        autocomplete="off"
        autofocus
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <label class="text">Description</label>
      <textarea name="description"><%=exercise.description%></textarea>
    </div>
  </div>
  <div class="btn-container">
    <a class="btn btn-red" href="/exercises">Cancel</a>
    <button class="btn btn-general" type="submit">Edit</button>
  </div>
</form>